#linniel_6{
    position:relative;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--color-primary);
    overflow:hidden;

}

.kel_mem{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: white;
    filter: drop-shadow(2px 2px 2px rgb(247, 247, 247));
}